
body   { color: black; font-style: normal; font-weight: bolder; font-size: 12px; background: white url(../imagenes/background.gif) fixed }
p { }
table { }
.pie   { font-weight: bolder; font-size: 1pt }